<footer class="bg-dark text-light pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We offer the best quality products at unbeatable prices. Dedicated to bringing you the finest
                    shopping experience.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/userhome" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="/viewallproducts" class="text-light text-decoration-none">Products</a></li>
                    <li><a href="/aboutus" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="/contactus" class="text-light text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:info@manmode.com" class="text-light">info@manmode.com</a></p>
                <p>Phone: +1 111 222 3333</p>
                <div>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 ManMode. All rights reserved.</p>
        </div>
    </div>
</footer>