

<head>

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet"
  >
</head>

<header>
    <div class="alert-box"></div>
    <div class="tools">
      <div class="logo-bar">
        <div class="logo">ManMode</div>
        <div class="logom">M</div>
  
    
        <div class="search-bar">
          <input id="searchInput" type="text" placeholder="Enter your product name...">
          <ul id="searchSuggestions" class="suggestions-list"></ul>
        </div>
  
        <button class="menu-button" id="menu-Button" aria-label="Menu">☰</button>
        <div class="icons" id="iconsContainer"></div>
      </div>
    </div>
  </header>
  
 
  <nav class="navigation">
    <ul>
      <li>
        <a href="/userhome">
          <i class="fas fa-home"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li>
        <a href="/categories">
          <i class="fas fa-th-list"></i>
          <span class="nav-text">Categories</span>
        </a>
      </li>
      <li>
        <a href="/viewallproducts">
          <i class="fas fa-shopping-bag"></i>
          <span class="nav-text">Shop Now</span>
        </a>
      </li>
      <li>
        <a href="/aboutus">
          <i class="fas fa-info-circle"></i>
          <span class="nav-text">About Us</span>
        </a>
      </li>
      <li>
        <a href="/contactus">
          <i class="fas fa-envelope"></i>
          <span class="nav-text">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>
  
  