<div class="sidebar">
    <div class="sidebar-logo">
        <i class="fas fa-chart-line"></i> ManMode
    </div>
    <div class="sidebar-item">
        <a href="/admin/admindashboard">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/adminusers">
            <i class="fas fa-users"></i>
            Users
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/adminbrands">
            <i class="fas fa-tag"></i>
            Brands
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/admincategories">
            <i class="fas fa-list-ul"></i>
            Categories
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/adminproducts">
            <i class="fas fa-box-open"></i>
            Products
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/adminorders">
            <i class="fas fa-shopping-cart"></i>
            Orders
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/admincoupon">
            <i class="fas fa-ticket-alt"></i>
            Coupons
        </a>
    </div>
    <div class="sidebar-item">
        <a href="/admin/adminoffers">
            <i class="fas fa-percent"></i>
            Offers
        </a>
    </div>
</div>
